<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Carer:</strong>
  <%= @team.carer %>
</p>

<p>
  <strong>Exam subjects:</strong>
  <%= @team.exam_subjects %>
</p>

<p>
  <strong>Members:</strong>
  <%= @team.members %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
